.header {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: #f1f1f1;
}

.mainContent {
  margin: 10px;
  padding: 5px;
}

.homeLink {
  text-decoration: none;
  color: salmon;
}

h1 {
  color: salmon;
  font-size: 7vh;
}

h2 {
  color: black;
  font-size: 4vh;
}

.App {
  height: 100vh;
  text-align: center;

}

.logo {
  height: 100%;
  width: 100%;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  background-image: url(./assets/pexels-simone-defendi-12762122.jpg);
  background-size: cover;

}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: block;
  text-align: -webkit-center;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header h1 {
    color: black;
    font-size: 4vh;
  }

  .logo {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 35%;
    padding: 0%;
  }

}