:root {
  --color1: #3B373C;
  --color2: #D2B084;
  --color3: #AE8087;
  --color4: #D7C8C2;
  --color5: #3b373c;
  --color6: #d2b084;
  --color7: #3b373c;

  --font1: 'Bellefair', sans-serif;
  --font2: 'Dream Catcher', serif;
  --font3: 'Baskerville Display', sans-serif;

}
html {
  background-color: var(--color1);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header h1 {
  color: black;
  font-size: 4vh;
}

.mainContent {
  height: 80vh;

}

.homeLink {
  text-decoration: none;
  color: salmon;
}

h1 {
  color: salmon;
  font-size: 7vh;
}

h2 {
  color: black;
  font-size: 4vh;
}

h6 {
  text-align: center;
  font-size: 20px;

}

.App {
  height: 50vh;
  text-align: left;

}

.logo {
  justify-content: left;
  width: 60%;
  margin-left: -10px;
}


.topnav {
  overflow: hidden;
  background-image: url(./assets/BG3.JPG);
  background-repeat: round;
  position: sticky;
  border-radius: 20px;
}

.topnav #myLinks {
  display: none;
  text-align: center;
}

.topnav #myLinks a {
  flex-direction: column;
}
.myLinksOne {
  width: 50%;
  text-shadow: 1px 1px 15px var(--color3);

}
.myLinksOne a:hover {
  color: var(--color3);
  opacity: .5;
  border: 2px solid #3B373C;
  border-radius: 40px;
}

.myLinksTwo {
  width: 50%;
}

.topnav a {
  color: var(--color1);
  padding: 10px 12px;
  text-decoration: none;
  font-family: var(--font2);
  font-size: 25px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 1px auto;
  font-size: 35px;
}

.topnav a:hover {
  
}


.active {
  color: white;
}



.fa-bars {
  font-size: 35px;
  color: var(--color3);
  
}


/* SHOPPING PAGE */

.shopifyHdr {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: gray;
}





/* ////////////////////////// MEDIA QUERIES ////////////////////////// */




@media screen and (max-width: 900px) {}